* {
    margin: 0;
}

html,
body{
    height: 100%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #20488f;
}

header{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #232853;
    padding: 10px;
}

.logo {
    width: 20%;
    text-align: left;
}

nav a:visited,
nav a:link{
    color: #fff;
    text-decoration: none;
}

nav{
    text-align: center;
}

nav>ul{
    display: inline;
    padding: 0;
}

nav>ul>li{
    display: inline-block;
    list-style: none;
    margin: 0 5px 0 25px;
    font-weight: bold;
    background-color: #d12e2e;
    border: solid 1.5px #6eb0da;
    padding: 5px;
}

main{
    display: block;
    padding-top: 3em;
    padding-bottom: 3em;
    min-height: 85%;
}

article{
    padding: 2em;
    width: 75%;
}

.columns{
    display: flex;
}

/* Desktop */

@media only screen and (min-width: 768px){

    .columns-desktop{
        display: flex;
    }
}

/* Pizzas */

.pizza{
    width: 400px;
    padding: 10px;
    margin: 10px;
    background-color: #6eb0da;
    border: solid 1px gray;
}

.pizza img{
    width: 100%;
}

.pizza .title{
    font-weight: bold;
}

.pizza .columns{
    width: 100%;
}

.pizza .price{
    text-align: right;
}

.pizza .columns div{
    width: 50%;
}

.pizza button{
    background-color: #d12e2e;
    padding: 10px;
    border: solid 1px #20488f;
    border-radius: 3px;
    color: white;
}